@model List<BD.Models.Question>
@{
    var firstQuestion = Model.FirstOrDefault(); 
}
<h1>Quiz</h1>

<p>
    <a asp-action="Create" asp-route-courseId="@firstQuestion.CourseId">Add New Question</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => firstQuestion.QuestionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstQuestion.AnswerA)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstQuestion.AnswerB)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstQuestion.AnswerC)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstQuestion.AnswerD)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstQuestion.AnswerCorrect)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstQuestion.Point)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerCorrect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestionId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
