@model IEnumerable<BD.Models.Course>

@{
    ViewData["Title"] = "MyCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Courses</h1>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    Rate
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @{
                            double rate = item.Rate;
                            int votesNum = item.VotesNum;

                            double result = votesNum != 0 ? Math.Round(rate / votesNum, 2) : 0;
                            @result
                        }
                    </td>
                    <td>
                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.CourseId">Go to course</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You don't have any course jet.</p>
    @Html.ActionLink("Search our available courses", "Index", "Courses")
}



