@using System.Security.Claims
@model BD.Models.Course

@{
    ViewData["Title"] = "Details";
}
@{
    var isAdmin = User.IsInRole("Admin");
    var courseId = Model.CourseId;
}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div>
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <hr />
    <dl class="row">
            
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price) zl
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @{
                int durationInMinutes = Model.Duration / 60;
                int remainder = Model.Duration % 60;
            }
            @durationInMinutes h @remainder min
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
                Rate
        </dt>
        <dd class = "col-sm-10">
            @{
                        double rate = Model.Rate;
                        int votesNum = Model.VotesNum;

                        double result = votesNum != 0 ? Math.Round(rate / votesNum, 2) : 0;
                        @result
            }
        </dd>
    </dl>
</div>
<div>
<div id="articlesContainer" data-course-id="@Model.CourseId">
</div>
    <div>
        @if (isAdmin)
        {
            @Html.ActionLink("Add new article", "Create", "articles", new { id = courseId })
        }
    </div>
</div>
<script>
    var courseId = $('#articlesContainer').data('course-id');

    $.ajax({
        url: '/Articles/GetArticlesByCourseId',
        method: 'GET',
        data: {
            courseId: courseId
        },
        success: function (data) {
            $('#articlesContainer').html(data);
        },
        error: function (error) {
            console.error('Error fetching articles:', error);
        }
    });
</script>


@if (isAdmin)
{
    @if (!(bool)ViewBag.isQuizCreate)
    {
        <a asp-controller="Questions" asp-action="Create" asp-route-courseId="@Model.CourseId" class="btn btn-primary">Create Quiz</a>
    }
    else
    {
        <form method="post" asp-controller="Questions" asp-action="ShowQuiz" asp-antiforgery="true">
            <a asp-controller="Questions" asp-action="ShowQuiz" asp-route-courseId="@Model.CourseId" class="btn btn-primary">Go to Quiz</a>
        </form>
    }
}
else
{
    @if ((bool)ViewBag.IsCourseBought)
    {
        @if ((bool)ViewBag.isQuizCreate)
        {
            <a asp-controller="Questions" asp-action="TakeQuiz" asp-route-courseId="@Model.CourseId" class="btn btn-primary">Take Exam</a>
        }
        @if (ViewBag.UserScore != null)
        {
            <div>
                Your score: @ViewBag.UserScore / @ViewBag.MaxScore
            </div>
        }
    }
}


@if (User.Identity.IsAuthenticated && !isAdmin)
{
    @if ((bool)ViewBag.IsCourseBought)
    {
        @if (!(bool)ViewBag.IsCourseRated)
        {
            <form method="post" asp-controller="Courses" asp-action="RateCourse" asp-antiforgery="true">
                <input type="hidden" name="CourseId" value="@Model.CourseId" />
                <div class="form-group">
                    <label for="userRate">Rate course (1-5):</label>
                    <input type="number" name="userRate" class="form-control" min="1" max="5" required />
                </div>
                <button type="submit" class="btn btn-primary">Rate</button>
            </form>
        }
    }
}


@if (User.Identity.IsAuthenticated && !isAdmin)
{
    @if (!(bool)ViewBag.IsCourseBought)
    {
        <form method="post" asp-controller="BuyCourses" asp-action="Buy" asp-antiforgery="true">
            <input type="hidden" name="userId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
            <input type="hidden" name="courseId" value="@Model.CourseId" />
            <input type="submit" value="Buy" />
        </form>
    }
}

<div>
    @if (isAdmin)
    {
        @Html.ActionLink("Edit Course", "Edit", new { id = @Model.CourseId })
    }
</div>
<div>
    <a asp-action="Index">Back to Courses List</a>
</div>
