@model IEnumerable<BD.Models.Course>

<h1>All Courses</h1>
@{
    ViewData["Title"] = "Index";
}
@{
    var isAdmin = User.IsInRole("Admin");
}
@if (isAdmin)
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Rate
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) zl
            </td>
            <td>
                    @{
                        int durationInMinutes = item.Duration / 60;
                        int remainder = item.Duration % 60;
                    }
                    @durationInMinutes h @remainder min
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
            @{
                        double rate = item.Rate;
                        int votesNum = item.VotesNum;

                        double result = votesNum != 0 ? Math.Round(rate / votesNum, 2) : 0;
                        @result
            }
            </td>
            <td>
                 <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> 
                    @if (isAdmin)
                    {
                        <span>|</span>
                        @Html.ActionLink("Edit", "Edit", new { id = @item.CourseId })
                        ;
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = @item.CourseId })
                        ;

                    }
            </td>
        </tr>
}
    </tbody>
</table>
